<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Advanced.testNGMouseEvent"/>
      <class name="Framework.loginDataDriven"/>
      <class name="Advanced.sampletestNG"/>
      <class name="Advanced.CaptureScrrenshot"/>
      <class name="KeywordDrivenFramework.Application"/>
      <class name="Advanced.sliderExample"/>
      <class name="POM.Test99GuruLogin"/>
      <class name="Advanced.dependstestNG"/>
      <class name="PageFactory.Test99GuruLoginWithPageFactory"/>
      <class name="Advanced.prioritytestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
